body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#character {
    width: 256px;
    height: 256px;
    bottom: 0;
    position: absolute;
    background-image: url('walking.png');
    /*Below line will animate sprite*/
    animation: play 6s steps(10) infinite;
}

/*Defining animation*/
@keyframes play {
    100% { background-position: -2560px; }
}
